<div class="footerBtn">
    <h1>Footer</h1>
</div>
<footer id="footerCard">
    <div class="footer-item">
        <h4 class="fot hed">Monthly Activities</h4>
        <li><a class="fot foot2" href="#">Thanksgiving Service</a></li>
        <li><a class="fot foot2" href="#">Youthful Service</a></li>
        <li><a class="fot foot2" href="#">Custom Service</a></li>
        <li><a class="fot foot2" href="#">Prayer Weekend</a></li>
    </div>

    <div class="footer-item">
        <h4 class="fot hed">Special Events</h4>
        <li><a class="fot foot2" href="#donation"><i class='fas fa-donate' style='font-size:24px'></i>Donation</a></li>
        <li><a class="fot foot2" href="#">Children</a></li>
        <li><a class="fot foot2" href="#">Weddings</a></li>
        <li><a class="fot foot2" href="#">Dedications</a></li>
        <li><a class="fot foot2" href="#">Year CrossOver Night</a></li>
    </div>

    <div class="footer-item">
        <h4 class="fot hed">Contact</h4>
        <li>
            <a class="fot foot2" href="#">
                <i class='fab fa-whatsapp' style=' font-size:20px;'></i>WhatsApp</a></li>
        <li><a class="fot foot2" href="#"><i class='fab fa-facebook' style=' font-size:20px;'></i>Facebook</a></li>
        <li><a class="fot foot2" href="#"><i class='fab fa-twitter' style=' font-size:20px;'></i>Twitter</a></li>
        <li><a class="fot foot2" href="#"><i class='fab fa-instagram' style=' font-size:20px;'></i>Instagram</a></li>
    </div>
    <div class="footer-item">
        <h4 class="fot hed" style="opacity:0;">Contact</h4>
        <li>
            <a class="fot foot2" href="" style="display: flex; overflow:unset;"><i class='fas fa-place-of-worship' style=' font-size:20px;'></i>Plot 2, Arijo Lane 5A, Idi-Aka, Ayegun, Apete, Ibadan, Oyo State</a></li>
        <li><a class="fot foot2" href="#"><i class='fab fas fas fa-phone-alt' style=' font-size:20px;'></i>08155319432</a></li>
       
    </div>
    <div class="company">Powered by HBTush Comsat</div>
</footer>