 <!-- <i class='fa fa-info' style='font-size:24px'></i>-->
<!-- <div class="footerBtn">
   <h1>Footer</h1><i class="fa fa-street-view" style="font-size:24px"></i>
</div> -->
<footer id="footerCard">
    <div class="footer-itemCard">
        <div class="footer-item">
            <h4 >Special Events</h4>
           <div class="footer-item-inner-container">
                <li><a  href="#">Children</a></li>
                <li><a  href="#">Weddings</a></li>
                <li><a  href="#">Dedications</a></li>
                <li><a  href="#">Year CrossOver Night</a></li>
           </div> 
        </div>
        
        <div class="footer-item">
            <h4 >Media</h4>
            <div class="footer-item-inner-container">
                <li>
                    <a  href="#">
                        <i class='fab fa-whatsapp'></i>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class='fab fa-facebook'></i>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class='fab fa-instagram'></i>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class='fab fa-twitter'></i>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class='fab fa-tiktok'></i>
                    </a>
                </li>
                <li>
                    <a  href="#">
                        <i class='fab fa-youtube'></i>
                    </a>
                </li>
            </div>
        </div>

        <div class="footer-item">
            <h4 >Address</h4>
            <div class="footer-item-inner-container">
                <li>
                    <a href="#">
                        <i class='fas fa-place-of-worship'>
                        </i>
                        Plot 2, Arijo Lane 5A, Idi-Aka, Ayegun, Apete, Ibadan, Oyo State
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='fab fas fas fa-phone-alt'></i>08155319432
                    </a>
                </li>
            </div>
        </div>
    </div>
    <div class="company">Powered by HBTush Comsat</div>
</footer>