<!-- Theme Navigation Btns Dark and Brightness -->
<!-- <i class="material-icons" style="font-size:36px"></i>
<i class="material-icons" style="font-size:36px"></i> -->
<div class="media-query-container">
    <div class="logoAndMenuResponsiveDisplay">
        <span class="responsive-menu-btns">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </span>
        <!-- <div class="expression-for-header">
            <h1>we Love God</h1>
        </div> -->
        <div class="head1">
            <img src="img/rccg-logo.jpg" width="30" class="logo">
            <div class="ds">Destiny Sanctuary</div>
        </div>
    </div>
    <div class="headerBar">
        <nav class="mainMenu">
            <ul id="menuLine">
                <li><a href="/"  class="active pinBtn"><i class="fas fa-home" style='font-size:24px' id="iconBtn"></i>Home</a></li>
                <li><a href="/testimony" class="pinBtn"><i class='fab fa-yelp' style='font-size:24px' id="iconBtn"></i>Testimonies</a></li>
                <li><a href="/gallery" class="pinBtn"><i class='fas fa-images' style='font-size:24px' id="iconBtn"></i>Gallery</a></li>
                <li><a href="/offerings" class="pinBtn"><i class='fas fa-hand-holding-usd' style='font-size:24px' id="iconBtn"></i>Offerings</a></li>
                <li><a href="/contact" class="pinBtn"><i class='far fa-address-card' style='font-size:24px' id="iconBtn"></i>Contacts</a></li>
                <li><a href="/about" class="pinBtn"><i class='fas fa-book' style='font-size:24px' id="iconBtn"></i>About</a></li>
            </ul>
        </nav>
    </div>
</div>