
<div class="header bodyBox">
    <div class="head1">
        <img src="img/rccg logo.jpg" width="30" class="logo"><br><br>
        <div class="ds">Destiny Sanctuary</div>
    </div>

    <nav class="mainMenu">
        <ul id="menuLine">
            <li><a href="/"  class="active pinBtn">Home</a></li>
            <li><a href="/testimony" class="pinBtn">Testimonies</a></li>
            <li><a href="/gallery" class="pinBtn">Gallery</a></li>
            <li><a href="/offerings" class="pinBtn">Offerings</a></li>
            <li><a href="/contact" class="pinBtn">Contacts</a></li>
            <li><a href="/about" class="pinBtn">About</a></li>
        </ul>
    </nav>
</div>