<div class="header bodyBox">
    <nav class="mainMenu">
        <span class="responsive-menu-btns">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </span>
        <ul id="menuLine">
            <li><a href="/"  class="active pinBtn"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/testimony" class="pinBtn"><i class="far fa-caret-square-up"></i>Testimonies</a></li>
            <li><a href="/gallery" class="pinBtn"><i class='fas fa-images' style='font-size:24px'></i>Gallery</a></li>
            <li><a href="/offerings" class="pinBtn"><i class='fas fa-hand-holding-usd' style='font-size:24px'></i>Offerings</a></li>
            <li><a href="/contact" class="pinBtn">Contacts</a></li>
            <li><a href="/about" class="pinBtn">About</a></li>
        </ul>
    </nav>
</div>

<div class="head1">
    <img src="img/rccg-logo.jpg" width="30" class="logo">
    <div class="ds">Destiny Sanctuary</div>
</div>
