<div class="menu">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="menuBox">
        <ul class="u" id="btn-container">
            <li class = "EachBtn active">
                <a class="navTabLinks">
                    <i class="fas fa-home"></i>Home
                </a>
            </li>
            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="fab fa-servicestack"></i>Services
                </a>
            </li>
            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="far fa-caret-square-up"></i>Testimonies
                </a>
            </li>

            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="far fa-file-image"></i>Gallery
                </a>
            </li>
            
            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="fas fa-pray"></i>Prayers
                </a>
            </li>
            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="fas fa-sliders-h"></i>Special
                </a>
            </li>
            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="fas fa-icons"></i>Contact
                </a>
            </li>
            <li class = "EachBtn">
                <a class="navTabLinks">
                    <i class="far fas fa-history"></i>About
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="header bodyBox">
    <nav class="mainMenu">
        <ul id="menuLine">
            <li><a href="/"  class="active pinBtn">Home</a></li>
            <li><a href="/testimony" class="pinBtn">Testimonies</a></li>
            <li><a href="/gallery" class="pinBtn">Gallery</a></li>
            <li><a href="/offerings" class="pinBtn">Offerings</a></li>
            <li><a href="/contact" class="pinBtn">Contacts</a></li>
            <li><a href="/about" class="pinBtn">About</a></li>
        </ul>
    </nav>
</div>

<div class="head1">
    <img src="img/rccg-logo.jpg" width="30" class="logo">
    <div class="ds">Destiny Sanctuary</div>
</div>