<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Church Services">
        <meta name="keywords" content="Sunday Worship, Prayer Weekend, Sunday School, Digging Deep, Faith Clinic">
        <meta name="Author" content="Oluwadipe Godwin Jesuropo">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script> -->
        
        <link rel="stylesheet" href="css/Des.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/testimony.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="stylesheet" href="css/contact.css">
        <link rel="stylesheet" href="css/gallery.css">
        <link rel="stylesheet" href="css/offerings.css">
    </head>

    <body class="bodyAll">
        <div>
            <%- include('../partials/header.ejs') %>
           <main> <%- body %></main>
            <%- include('../partials/footer.ejs') %>
        </div>

       
    
        <script src="js/men.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    </body>
    <!-- <script src="js/Des.js" defer></script> -->
</html>
