
<div class="email-contact-container">
    <h3 style="text-align: center; font-size: 1.5rem; color: white;">Contact The Church via Email</h3>
    <div class="form-container">
        <form class="contactForm">
            <input type="text" id="subject" placeholder="Enter Subject">
            <input type="email" id="email" placeholder="Enter Your Email address">
            <textarea class="contactMessage" id="text" cols="58" rows="10"></textarea>
            <input type="submit" class="btns submit-btn" value="Submit">
            <input type="button" class="btns cancel-btn" value="Cancel" >
        </form>
    </div>
</div>
   
