
<div class="contact-container">
    <h3 style="text-align: center;">Contact The Church via Email</h3>
    <div class="form-container">
        <form class="contactForm">
            <input type="text" id="subject" placeholder="Enter Subject">
            <input type="email" id="email" placeholder="Enter Your Email address">
            <textarea class="contactMessage" id="text" cols="58" rows="10"></textarea>
            <input type="button" value="Cancel" class="cancelBtn">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
   
