
<div id="gallery">
    <div class="gallery-separation">
        <h1>Gallery</h1>
        <div class="galleryCard-container">
            <div class="photoCard galleryCard">Photos</div>
        <div class="videoCard galleryCard" id="">Videos</div>
        </div>
        
        <!-- PHOTO GALLERY STRUCTURE -->
        <!-- The four columns -->
        <div class="photo-display-container">
            <span onclick="this.parentElement.style.display='none'" class="close-btn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="img-text"></div>
        </div>

        <div class="photoBox">
            <div class="photo-card">
                <img src="img/faithinGod.jpg" alt="We Faith Everywhere" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/rccg-logo.jpg" alt="They know Everywhere" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/faithinGod.jpg" alt="We Faith Everywhere" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/church.jpg" alt="we Prayer Everyday" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/faithinGod.jpg" alt="We Faith Everywhere" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/rccg-logo.jpg" alt="They know Everywhere" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/faithinGod.jpg" alt="We Faith Everywhere" style="width:100%" onclick="imageBtn(this);">
            </div>
            <div class="photo-card">
                <img src="img/church.jpg" alt="we Prayer Everyday" style="width:100%" onclick="imageBtn(this);">
            </div>
        </div>

         <!-- VIDEO GALLERY STRUCTURE -->
        <div class="video-gallery">
            <div class="video-container">
                <div class="main-video-display">
                    <div class="videoBox">
                        <video src="media/redirect.mp4" controls></video>
                        <h3 class="tag">01. family Sunday Service</h3>
                    </div>
                </div>

                <div class="video-playList">
                    <div class="current-video active">
                        <video src="media/redirect.mp4" controls></video>
                        <h3 class="tag">01. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">02. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/test1.mp4"></video>
                        <h3 class="tag">03. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/fetchdata.mp4"></video>
                        <h3 class="tag">04. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/redirect.mp4"></video>
                        <h3 class="tag">05. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/responsivePlaylist.mp4"></video>
                        <h3 class="tag">06. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">07. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">08. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">09. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">10. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">11. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">12. family Sunday Service</h3>
                    </div>

                    <div class="current-video">
                        <video src="media/deletedataform.mp4"></video>
                        <h3 class="tag">13. family Sunday Service</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>