<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Church Services">
        <meta name="keywords" content="Sunday Worship, Prayer Weekend, Sunday School, Digging Deep, Faith Clinic">
        <meta name="Author" content="Oluwadipe Godwin Jesuropo">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=sofia|Cambria|Times New Roman">
        <link rel="stylesheet" href="css/Des.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/testimony.css">
        <link rel="stylesheet" href="css/about.css">
        <link rel="stylesheet" href="css/contact.css">
        <link rel="stylesheet" href="css/gallery.css">
        <link rel="stylesheet" href="css/offerings.css">
        
    </head>

    <body>
        <div class="media-query-container">
            <div class="logoAndMenuResponsiveDisplay">
                <span class="responsive-menu-btns">
                    <i class="fas fa-bars" id="btn"></i>
                    <i class="fas fa-times" id="cancel"></i>
                </span>
                <!-- <div class="expression-for-header">
                    <h1>we Love God</h1>
                </div> -->
                <div class="head1">
                    <img src="img/rccg-logo.jpg" width="30" class="logo">
                    <div class="logo-banner">Destiny Sanctuary Parish</div>
                </div>
            </div>
            <div class="headerBar">
                <nav class="mainMenu">
                    <ul id="menuLine">
                        <li><a href="/"  class="active pinBtn"><i class="fas fa-home" style='font-size:24px' id="iconBtn"></i>Home</a></li>
                        <li><a href="/testimony" class="pinBtn"><i class='fab fa-yelp' style='font-size:24px' id="iconBtn"></i>Testimonies</a></li>
                        <li><a href="/gallery" class="pinBtn"><i class='fas fa-images' style='font-size:24px' id="iconBtn"></i>Gallery</a></li>
                        <li><a href="/offerings" class="pinBtn"><i class='fas fa-hand-holding-usd' style='font-size:24px' id="iconBtn"></i>Offerings</a></li>
                        <li><a href="/contact" class="pinBtn"><i class='far fa-address-card' style='font-size:24px' id="iconBtn"></i>Contacts</a></li>
                        <li><a href="/about" class="pinBtn"><i class='fas fa-book' style='font-size:24px' id="iconBtn"></i>About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
        

        <div class="index-container">
        <div id="home" class="navTabContent">
            <div class="login-switch">
                <span><h1>Hi</h1></span>
                <span><a href="/login" class="login-btn">Login</a></span>
            </div>

            <div class="programmes">
                <button class="service " id="service">
                    Thanksgiving Service
                </button>
                <div class="thanksgiving panel">
                    <div class="thanksgiving-message">
                        <span class="close-panel">&times;</span>
                        <div class="content-text">
                            <h1 style="font-size: 20px;">Thanksgiving Service...</h1>
                        This is where you come to give God praise and Worship for all He has done for you and your love ones for the past One month or any other special within or even something you remember again that God has make you happy and free to worship.
                        It is also a time to come to God with your broken-heart and tell him how much you love him praise.
                        This also done every first Sunday of the month even on thanksgiving Sunday. This is the day you bring again your baby to God for more blessing.
                        </div>
                        <div class="modalBox-images-container">
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                        </div>

                    </div>
                </div>
            
                <button class="service " id="service">
                    Family Inspiration
                </button>
                <div class="thanksgiving panel">
                    <div class="thanksgiving-message">
                        <span class="close-panel">&times;</span>
                        <div class="content-text">
                            <h1 style="font-size: 20px;">Thanksgiving Service...</h1>
                        This is where you come to give God praise and Worship for all He has done for you and your loved ones for the past One month, any other special encounter within the year, even something you remember again that God has made you joyous free to worship.
                        It is also a time to come to God with your broken-heart and tell him how much you love him praise.
                        This also done every first Sunday of the month even on thanksgiving Sunday. This is the day you bring again your baby to God for more blessing.
                        </div>
                        <div class="modalBox-images-container">
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                        </div>
                    </div>
                </div>

                <button class="service " id="service">
                    Youth Alive
                </button>
                <div class="thanksgiving panel">
                    <div class="thanksgiving-message">
                        <span class="close-panel">&times;</span>
                        <div class="content-text">
                            <h1 style="font-size: 20px;">Youth Alive...</h1>
                        This is where you come to give God praise and Worship for all He has done for you and your loved ones for the past One month, any other special encounter within the year, even something you remember again that God has made you joyous free to worship.
                        It is also a time to come to God with your broken-heart and tell him how much you love him praise.
                        This also done every first Sunday of the month even on thanksgiving Sunday. This is the day you bring again your baby to God for more blessing.
                        </div>
                        <div class="modalBox-images-container">
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg" >
                            </div>
                        </div>
                    </div>
                </div>

                <button class="service " id="service">
                    Cultural Service
                </button>
                <div class="thanksgiving panel">
                    <div class="thanksgiving-message">
                        <span class="close-panel">&times;</span>
                        <div class="content-text">
                            <h1 style="font-size: 20px;">Special Sunday...</h1>
                            When you hear Special, we "Special Blessing!"<br>
                            These are special programs designed by God through His Anointed Priest to bless Us!
                        </div>
                        <div class="modalBox-images-container">
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="service " id="service">
                    Prayer Sunday
                </button>
                <div class="thanksgiving panel">
                    <div class="thanksgiving-message">
                        <span class="close-panel">&times;</span>
                        <div class="content-text">
                            <h1 style="font-size: 20px;">Prayer Sunday...</h1>
                            This is where you come to give God praise and Worship for all He has done for you and your love ones for the past One month or any other special within or even something you remember again that God has make you happy and free to worship.
                            It is also a time to come to God with your broken-heart and tell him how much you love him praise.
                            This also done every first Sunday of the month even on thanksgiving Sunday. This is the day you bring again your baby to God for more blessing.
                        </div>
                        <div class="modalBox-images-container">
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="service " id="service">
                    Christian Education
                </button>
                <div class="thanksgiving panel">
                    <div class="thanksgiving-message">
                        <span class="close-panel">&times;</span>
                        <div class="content-text">
                            <h1 style="font-size: 20px;">Christian Education...</h1>
                        This is where you come to give God praise and Worship for all He has done for you and your loved ones for the past One month, any other special encounter within the year, even something you remember again that God has made you joyous free to worship.
                        It is also a time to come to God with your broken-heart and tell him how much you love him praise.
                        This also done every first Sunday of the month even on thanksgiving Sunday. This is the day you bring again your baby to God for more blessing.
                        </div>
                        <div class="modalBox-images-container">
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                            <div class="image-card">
                                <img src="img/CHURCH.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
            
        <div class="donation-btn-container">
                <button class="donation">
                    <a href="#donation"  style='font-size:24px;'>
                        <i class='fas fa-donate' style='font-size:24px; margin-right: 4PX;'></i>Donation
                    </a>
                </button>
        </div>
                <!-- Floating IMAGES ON hOME Page -->
        <div class="imageContainer">
            <div class="boxImage">
                <a href="#">
                    <h3>Messages</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Children Event</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="boxImage">
                <a href="#">
                    <h3>Sermon Sermon</h3>
                    <div class="imageBox">
                        <img src="img/p.jpg" alt="">
                    </div>
                </a>
            </div>
        </div>
        </div>
<!-- FOOTER LINE -->
        <footer id="footerCard">
            <div class="footer-itemCard">
                <div class="footer-item">
                    <h4 >Special Events</h4>
                <div class="footer-item-inner-container">
                        <li><a  href="#">Children</a></li>
                        <li><a  href="#">Weddings</a></li>
                        <li><a  href="#">Dedications</a></li>
                        <li><a  href="#">Year CrossOver Night</a></li>
                </div> 
                </div>
                
                <div class="footer-item">
                    <h4 >Media</h4>
                    <div class="footer-item-inner-container">
                        <li>
                            <a  href="#">
                                <i class='fab fa-whatsapp'></i>
                            </a>
                        </li>
                        <li>
                            <a  href="#">
                                <i class='fab fa-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a  href="#">
                                <i class='fab fa-instagram'></i>
                            </a>
                        </li>
                        <li>
                            <a  href="#">
                                <i class='fab fa-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a  href="#">
                                <i class='fab fa-tiktok'></i>
                            </a>
                        </li>
                        <li>
                            <a  href="#">
                                <i class='fab fa-youtube'></i>
                            </a>
                        </li>
                    </div>
                </div>

                <div class="footer-item">
                    <h4 >Address</h4>
                    <div class="footer-item-inner-container">
                        <li>
                            <a href="#">
                                <i class='fas fa-place-of-worship'>
                                </i>
                                Plot 2, Arijo Lane 5A, Idi-Aka, Ayegun, Apete, Ibadan, Oyo State
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='fab fas fas fa-phone-alt'></i>08155319432
                            </a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="company">Powered by HBTush Comsat</div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/men.js"></script>
    </body>
</html>