<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Church Services">
        <meta name="keywords" content="Sunday Worship, Prayer Weekend, Sunday School, Digging Deep, Faith Clinic">
        <meta name="Author" content="Oluwadipe Godwin Jesuropo">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=sofia|Cambria|Times New Roman">
        <link rel="stylesheet" href="css/Des.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Fantasy|Brush Script MT|Lucida Sans|Trirong">
        <link rel="stylesheet" href="css/login_reg.css">
    </head>

    <body>
        <div class="head1">
            <img src="img/rccg-logo.jpg" width="30" class="logo">
            <div class="logo-banner">Destiny Sanctuary Parish</div>
        </div>
        <div class="login">
            <div class="form-LR-container">
                <h1>Login</h1>
                <form action="/auth/login" method="POST">
                    <div class="reg-info">
                        <input type="text" id="name" placeholder="Name" name="name" required>
                        <input type="password" id="password" placeholder="Password" required>
                        <button type="submit" class="reg-submit-btn btn">Submit</button>
                    </div>
                    <div class="reg-alternative">
                        <p><input type="checkbox">Remember me</p> <span><a href="">Forgot password</a></span>
                    </div>
                    <button type="reset" class="reg-cancel-btn btn" >Cancel</button>
                    <p>Already a member <a href="/register" class="register-navigation">Register here</a></p>
                </form>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/men.js" defer></script>
    </body>
</html>
        
