
<div class="offering-container">
    <div class="offering-inside-box">
        <div class="card-carrier">
            <h1 class="title tog2">Finance/Donation</h1>
            <div class="card">
                <a href="https://paystack.com/pay/love-offering_tithe" class="moneyBox">Love Offering</a>
                <a href="https://paystack.com/pay/love-offering_tithe" class="moneyBox">Tithe Offering</a>
                <a href="https://paystack.com/pay/walfare" class="moneyBox">Welfare Offering</a>
                <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building Offering</a>
                <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">First Fruit Offering</a>
                <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Battle Seed Offering</a>
                <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Vow Offering</a>
                <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Annivesary Offering</a>
                <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building Offering</a>
            </div>
        </div>
    </div>
</div>