
<div class="offering-container">
    <div class="card-carrier">
        <h1 class="title tog2">Finance/Donation</h1>
        <div class="card">
            <a href="https://paystack.com/pay/love-offering_tithe" class="moneyBox">Offering</a>
            <a href="https://paystack.com/pay/love-offering_tithe" class="moneyBox">Tithe</a>
            <a href="https://paystack.com/pay/walfare" class="moneyBox">Welfare</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
            <a href="https://paystack.com/pay/buildingdonation" class="moneyBox">Building</a>
        </div>
    </div>
</div>