
<div class="soon-container">
    <img src="img/faithinGod.jpg" alt="">
    <div class="comin-soon">
        <h1>COMING SOON...!</h1>
        <hr>
        <p id="timeOut" style="font-size:30px"></p>
    </div>
</div>
<!-- <div id="testimony" class="navTabContent testimony-container">
    <div class="Point">
    
        <div id="PointIn" class="PointIn">
            <form method="POST" action="/testimony/share" class="testimony-message">
                <h2><i>Let Somebody Shout Halleluyah!</i></h2>
                <textarea class="testimonyMessage" name="testimony" placeholder="Testify Here" id="testimony" cols="28" rows="5">
                    Our God is a faithful God and he never fails.... he has been so good to me and my family in past years and still he is faithful. Please join praise and thank Jesus. Amen!
                </textarea>
                <div class="postBtn">
                    <input type="button" id="PointInDelete" value="Delete">
                    <input type="submit" name="submit_Btn" id="PointInPost" value="Testify">
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-row">
                <div class="testimonyTag">Testimony Alive</div>
                <div class="share-card">
                    <a href="/testimony/share" class="shareBtn">Testify</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>testimony</th>
                        <th>
                            name
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->
 
<!-- <div id="prayer" class="navTabContent">
    <div class="Service-row">
        <div class="Service-side"></div>
        <div class="middle_services">
            <h3>Prayers</h3>
            <p>
                Do you have a special prayer request you the ministry to pray for or with you?<br>
                
                Submit your Prayer request to the Pastor and His Ministers. <br>

                <i>if there is a man to prayer we have God to answer.</i>
                <strong>Just have Faith!</strong>
            </p>
        </div>
    </div>
</div>  -->
    
<!-- 
    <div class="Service-row">
        <div class="middle_services">
        <h1><%=title %></h1>
        <div class="Point">
            <h4 style="color:rgb(19, 18, 18); text-align:center; font-size:15px; padding:8px 4px;">Testimony</h4>
            <div class="showTestimony"></div>
            <div id="PointIn" class="PointIn">
                <form class="testimony-message">
                    <h2><i>Let Somebody Shout Halleluyah!</i></h2>
                    <textarea class="testimonyMessage" name="Comment" placeholder="Testify Here" id="testify" cols="28" rows="5">
                        Our God is a faithful God and he never fails.... he has been so good to me and my family in past years and still he is faithful. Please join praise and thank Jesus. Amen!
                    </textarea>
                    <div class="postBtn">
                        <input type="button" id="PointInDelete" value="Delete">
                        <input type="button" id="PointInPost" value="Testify">
                    </div>
                </form>
            </div>
            <button class="TestimonyBtn">
                Share your Testimony Here
            </button>
        </div>
        </div>
 -->