.about-carrier {
    margin-top: 7rem;
    height: 100vh;
    background-color: rgb(76, 0, 255);
  }

  .about-container {
    max-width:700px;
    margin: 0 auto;
  }

  .about-board {
    margin-top: 0;
  }
  .about-message  {
    display: flex;
    justify-content: center;
    line-height: 2;
    padding: 15px;
    color: white;
    font-size: 18x;
    box-shadow: rgb(238, 238, 238) 1px 0 1px 4px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}




