
.contact-container {
    margin-top: 7rem;
    height: 80vh;
    width: 100%;
    position: fixed;
    background-color: rgb(76, 0, 255);
  }
  
.contactMessage {
    background-color: #e8eef0;
    color: #000;
    opacity: .5;
    padding: 8px;
    word-wrap: break-word;
    resize: none;
  }

  .form-container {
    width: 40%;
    translate: 80% 10%;
    overflow: hidden;
}


.contactForm input[type= text], [type=tel], [type=email], [textarea] {
  width: 100%;
  height: 40px;
  padding: 8px;
  margin: 4px 4px 4px 0;
}