
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    user-select: none;
  }

.bodyAll {
    background-color: #000;
  }
   
/* HEADER STYLING */
  .bodyBox{
    background: rgba(17, 16, 16, 0.9);
    width: 100%;
    height: 100px;
    margin: 0;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    z-index: 1111;
    position: fixed;
    top: 0;
}

/* HEADER NAVIGATION BAR*/
.mainMenu {
  margin-top: 2rem;
  justify-content: center;
}
#menuLine {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  margin-left: 40px;
  display: inline-block;
}

.mainMenu ul li a {
  padding: 10px;
  font-size: 16px;
  color:#fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.mainMenu ul li a #iconBtn {
  display: none;
}

ul li.active{
  background-color: rgba(76, 103, 134, 0.5);
}

.pinBtn:hover{
  background-color: rgba(76, 103, 134, 0.5);
}

.menu {
  display: none;
}

/* MAIN BODY STYLING */
.main-body {
  background-color: #000;
}

  /*Logo Affair*/
.head1{
  width: 130px;
  right:10px;
  position: fixed;
  top: 2rem;
  z-index: 1111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
   
.head1 .logo{
  width: 40px;
  border-radius: 50px;
}

.responsive-menu-btns {
  position: absolute;
  top: 5px;
  cursor: pointer;
  display: none;
}

.responsive-menu-btns i {
  font-size: 35px;
  color: white;
  float:left;
  line-height: 80px;
  margin-left: 20px;
  cursor:pointer;
}

/* MEDIA QUERY MENU CARD/ SIDEBAR MENU */
@media (max-width:880px) {
  .logoAndMenuResponsiveDisplay{
    width: 100%;
    height:100px ;
    background-color: #ee0f0f;
  }
  .bodyBox {
    background: rgba(17, 16, 16, 0.9);
    width: 60%;
    height: 100%;
    margin: 0;
    transition: 1s all;
    z-index: 1111;
    top: 0;
    left: -580px;
  }
  
  .mainMenu ul li a {
    padding: 18px;
    font-size: 24px;
    color:#fff;
    font-weight: bold;
    justify-content: start;
    align-items: start;
    border-radius: 0;
    margin-left: 0;
  }


  .mainMenu ul li a #iconBtn {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
  }

  .responsive-menu-btns {
    position: absolute;
    z-index: 1111;
    display: block;
  }

  .responsive-menu-btns #cancel {
    display: none;
  }

  #menuLine li {
    margin-left: 0;
    display: block;
    /* width: 100%; */
  }

  #menuLine {
    margin-top: 8rem;
    margin-bottom: 3rem;
    display: block;
  }

   /* FOOTER LINE */
   .footer-itemCard {
    margin-top: 20px;
  }
}


@media (max-width:300px) {
  .logoAndMenuResponsiveDisplay{
    width: 100%;
    height:100px ;
    background-color: #ee0f0f;
  }
  .bodyBox {
    background: rgba(17, 16, 16, 0.9);
    width: 100%;
    height: 100%;
    margin: 0;
    transition: 1s all;
    z-index: 1111;
    top: 0;
    left: -580px;
  }
  
  .mainMenu ul li a {
    padding: 18px;
    font-size: 24px;
    color:#fff;
    font-weight: bold;
    justify-content: start;
    align-items: start;
    border-radius: 0;
    margin-left: 0;
  }


  .mainMenu ul li a #iconBtn {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
  }

  .responsive-menu-btns {
    position: absolute;
    z-index: 1111;
    display: block;
  }

  .responsive-menu-btns #cancel {
    display: none;
  }

  #menuLine li {
    margin-left: 0;
    display: block;
    /* width: 100%; */
  }

  #menuLine {
    margin-top: 8rem;
    margin-bottom: 3rem;
    display: block;
  }

  /* FOOTER LINE */
  .footer-itemCard {
    margin-top: 20px;
  }

  .footer-closeBtn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    position: fixed;
    top: 60px;
    right: 10px;
  }

}


  .boxImage h3 {
    color: #fff;
    text-align: center;
  }
  .imageCube {
    min-width: 140px;
    margin: 0 7px ;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  
  .imageCube img {
    width: 100%;
    height: 150px;
  }
  
  /*FOOTER SECTION DESIGN*/
  .footerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 20px;
    width: 120px;
    padding: 40px;
    background-color:rgba(63, 136, 185, 0.8);
    border-radius: 50% 5px 5px 50%;
    cursor: pointer;
  }

  .footer-closeBtn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    position: fixed;
    top: 140px;
    right: 20px;
  }


  .footerBtn:hover {
    background: black;
    color: white;
    border: 1px solid white;
  }

  .footerBtn h1 {
    font-size: 20px;
    font-weight: bold;
  }
  footer{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 10px;
    position: fixed;
    bottom: -18%;
    width:100%;
    z-index: 111111;
    background-color:rgba(63, 136, 185, 0.8);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
  }
  
  footer:hover {
    bottom: 0;
  }
  
  
  .foot2{
    color: white;
    font-size: 1.3rem;
    padding:10px;
  }
  
  .foot2 i{
    padding:5px;
    color: #f1f1f1;
  }
  
  .foot2:hover, .foot2 i:hover{
    color:rgb(192, 191, 191);
    cursor: pointer;
    font-weight:bold;
  }
  
  .hed{
    color: rgb(26, 21, 70);
    font-size: 1.5rem;
    outline: #ccc;
  }
  
  .company{
    color: rgb(9, 4, 10);
    align-self: flex-end;
  
  }
  
  /* set a style for all button*/
  
  button{
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 50%;
    border-radius: 8px;
  }
  
   b{
    color: white;
   }
  
  /*Float cancel and Sign up buttons and add an equal width*/
  .cancelbtny, .btny{
    width: 180px;
    font-size: 15px;
    font-weight: bolder;
    background:transparent;
    color: white;
  }
  
  .cancelbtnyLongin, .btnyLogin{
    width: 120px;
    font-size: 15px;
    font-weight: bolder;
    background:transparent;
    color: white;
  }

  .btny, .btnyLogin{
    float:left;
  }

  .cancelbtny, .cancelbtnyLongin{
    float: right;
  }
  
  .btnyLogin:hover{
    background-color: rgb(8, 151, 8);
    color: white;
  }

  .btny:hover {
    background-color: rgb(8, 151, 8);
    color: white;
  }

  .cancelbtnyLongin:hover{
    background-color:#ee0f0f;
    color: white;
    border: white 2px solid;
  }

  .cancelbtny:hover{
    background-color: #ee0f0f;
    color: white;
  }

  .clearfix{
    padding-right: 10px;
  }

