#gallery {
    width: 100%;
    height: fit-content;
    text-transform: capitalize;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    background: black;
}

/* VIDEO GALLERY STYLING STARTS HERE */
.video-gallery {
    width:80%;
    margin: 0 auto;
    display: none;
}

.video-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 14.5rem 5% 4rem 5%;
}

.video-container .main-video-display {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-container .main-video-display video {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-container .main-video-display .tag {
    color: #333;
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: bold;
}

.video-container .video-playList {
    background: #fff;
    height: 520px;
    overflow-y: scroll;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-container .video-playList::-webkit-scrollbar {
    width: 7px;
}

.video-container .video-playList::-webkit-scrollbar-track {
   background: #ccc;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}
.video-container .video-playList::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-container .video-playList .current-video video{
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-container .video-playList .current-video {
    display: flex;
    align-items: center;
    gap: 15PX;
    background: #f7f7f7;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.video-container .video-playList .current-video:hover {
    background: #eee;

}

.video-container .video-playList .current-video.active {
    background: #2980b9;
}

.video-container .video-playList .current-video.active .tag {
    color: #fff;
}

.photoShop {
    container-type: inline-size;
}

@media (max-width:991px) {
    .video-container {
        grid-template-columns: 1fr 1fr;
        padding: 16.5rem 5% 4rem 5%;
    }

    .photo-display-container {
        width:100%;
    }
    
}

@media(max-width:768px) {
    .video-container {
        grid-template-columns: 1fr;
        padding: 18.5rem 5% 4rem 5%;
    }
    

    #img-text {
        font-size: .8rem;
        padding: 4px;
    }
    
    /* Closable button inside the expanded image */
    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 10px;
        top: 10px;
        right: 15px;
        color: white;
        font-size: 25px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

@media(max-width:300px) {
    .video-container {
        grid-template-columns:1fr;
        padding: 18.5rem 5% 4rem 5%;
    }

    /* .video-gallery {
        margin: 1rem;
    } */

    .video-container .video-playList {
       width: 100%;
       padding: 0;
       margin: 0;
    }

    .video-playList .current-video .tag {
        font-size: 0.750rem;
    }
    
}

/* PHOTO GALLERY STARTS HERE */
.separate-galleryBtn {
    position: fixed;
    width: 100%;
    background: rgba(175, 17, 17, 0.8);
   transition: 2s all;
    padding:7rem 0 0 0;
    margin-top: 1rem; 
    z-index: 1;  
}

.separate-galleryBtn  h1 {
    color: #fff;
    font-size: 44px;
    text-align: center;
}

/* The expanding image container */
.photoShop {
    /* height: 150vh;
    overflow-y: scroll;
    width: 100%; */
    display: block;
    transition: 2s all;
    padding-top: 18rem;
    /* z-index: -1; */
}

.photo-display-container {
    position: relative;
    display: none;
    transition: transform 5s all ease-in;
    width: 50%;
    translate: 50%;
    margin-bottom: 3rem;
    border: 3px solid white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
  
  .photo-gallery-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 5rem);
    justify-content: center;
    row-gap :10px;
    padding:5px;
    width: 70%;
    translate: 20%;
    border: 1px white solid;
    border-radius: 5px;
    margin-bottom: 1rem;
  }


/* Style the images inside the grid */

.photo-card .myImage {
  opacity: 1; 
  cursor: pointer; 
  width: 50px;
  height: 50px;
  scale: 1;
}

.photo-card img:hover {
  opacity: 0.5;
  border: 3px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Expanding image text */
#img-text {
    display: grid;

  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 1.5rem;
  background: rgba(0,0,0,.8);
  padding: 8px;
  border: 1px white solid;
  border-radius: 6px;

}

/* Closable button inside the expanded image */
.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.close-btn:hover {
    background: rgba(0,0,0,.1);
    color: rgb(70, 67, 67);
    border: 1px solid rgb(70, 67, 67);
}

/* NAVIGATION BUTTON */
.galleryCard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: .4rem;
}
.galleryCardBtn {
    max-width: 200px;
    color: black;
    font-size: 25px;
    cursor: pointer;
    outline: none;
}
.galleryCardBtn:hover {
    background:rgba(0,0,0,.5);
    color: white;
}











