.offering-container {
    background-color: black;
}

.offering-inside-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-carrier {
  width: 70%;
  margin: 0 2rem;
  padding: 11rem 0;
}

.title{
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    justify-content: center;
    border-radius: 1em;
    gap: 10px;
    margin-bottom: 0;
  }
  
  .moneyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1rem;
    font-weight: bold; 
    background-color: rgb(182, 155, 155, 0.5);
    color:white;
    border:1.5px solid lightgreen;
    border-radius: 4px;
    padding:10px;
  }

  .moneyBox:hover {
    background: green;
    color: white;
  }
    

    