.offering-container {
    /* margin-top: 7rem;
    height: 100vh; */
    background-color: rgb(233, 10, 10);
    /* z-index: -11; */
}

.card-carrier {
    margin: 20px;
}

.title{
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
}

.card {
    width: 950px;
    height: 440px;
    margin: 0 auto;
    border-radius: 1em;
    background-color: rgba(240, 248, 255, 0.5);
    color: dimgray;
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .moneyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: white;
    color:green;
    border:1.5px solid lightgreen;
    border-radius: 4px;
    width: 210px;
    height: 115px;
    padding: 5px;
  }

  .moneyBox:hover {
    background: green;
    color: white;
  }
  

  
  
  .in:hover a{
    color: white;
    font-size: 15px;
    font-weight: 40px;
  }
  
  .tithe:hover {
    background: green;
  }
  
  .welfare:hover {
    background-color: green;
  }
  
  .donation:hover {
    background: green;
  }
    